{# @Cerad/AppBundle/Resources/viewsAdmin/Admin/AdminShowIndex.html.twig  #} 
{% extends '@CeradTourn/Layout.html.twig' %}
{% set _project = 'natgames' %}

{% block content %}
<h3>Admin Functions</h3>
<div class="admin_container">

{% if is_granted('ROLE_SCORE_ENTRY') %}
<div class="admin">
  <ul><h2>Match Reporting</h2>
    <li><a href="{{ path('cerad_game__project__game_report__update', { '_project': _project,'_game':'11001' }) }}">Enter Match Results</a></li>

    <li><a href="{{ path('cerad_game__project__results__export',{ '_project': _project, 'programs': 'core' }) }}">
            Export Core Pool Score Board (Excel)</a></li>
    <li><a href="{{ path('cerad_game__project__results__export',{ '_project': _project, 'programs': 'extra' }) }}">
            Export Extra Pool Score Board (Excel)</a></li>
    <li><a href="{{ path('cerad_game__project__results__export',{ '_project': _project, 'programs': 'core', 'ages' : 'U12', 'genders': 'B' }) }}">
            Export Core U12B Pool Score Board (Excel)</a></li>
  </ul>
</div>
{% endif %}

<div class="admin">
  <ul><h2>Schedule Management</h2>
    <li><a href="{{ path('cerad_game__project__schedule_team__show', { '_project': 'natgames' }) }}">View Team Schedule</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_game__show', { '_project': 'natgames' }) }}">View Game Schedule</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_game__show', 
        { '_project': 'natgames','_format' : 'xls','program' : 'Core', 'all': 1 }) 
        }}">Export Core Game Schedule (Excel)</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_game__show', 
        { '_project': 'natgames','_format' : 'xls','program' : 'Extra','all': 1 }) 
        }}">Export Extra Game Schedule (Excel)</a></li>
{% if is_granted('ROLE_SCORE_ADMIN')  %}
    <li>{#<a href="{{ path('cerad_tourn_admin_schedule_games_import') }}">#}Import Game Schedule (Excel)</a></li>
{% endif %}
  </ul>
</div>

{% if is_granted('ROLE_ASSIGNOR') %}
<div class="admin">
  <ul><h2>Referee Assignments</h2>
    <li><a href="{{ path('cerad_game__project__schedule_referee__show', { '_project': 'natgames' }) }}">View Referee Assignments</a></li>
    <li>{#<a href="{{ path('cerad_tourn_unassigned_matches_list') }}">#}View Unassigned Matches</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_referee__show', 
        { '_project': 'natgames','_format' : 'xls','program' : 'Core', 'all': 1 }) 
        }}">Export Core Referee Assignments (Excel)</a></li>
    <li><a href="{{ path('cerad_game__project__schedule_referee__show', 
        { '_project': 'natgames','_format' : 'xls','program' : 'Extra','all': 1 }) 
        }}">Export Extra Referee Assignments (Excel)</a></li>
    <li>{#<a href="{{ path('cerad_tourn_admin_schedule_officials_import') }}">#}Import Referee Assignments (Excel)</a></li>
    <li>{#<a href="{{ path('cerad_tourn_unregistered_officials_list') }}">#}Export Unregistered Referee List (Excel)</a></li>
  </ul>
</div>
{% endif %}

<div class="admin">
  <ul><h2>Account Management</h2>
    <li><a href="{{ path('cerad_tourn_admin_persons_list') }}">View Registered People</a></li>
    <li><a href="{{ path('cerad_tourn_admin_persons_list', { '_format' : 'xls' }) }}">Export Registered People (Excel)</a></li>
{% if is_granted('ROLE_ADMIN') %}
    <li>{#<a href="{{ path('cerad_tourn_admin_unapproved_persons_list') }}">#}View Unverified Registered People</a></li>
    <li><a href="{{ path('cerad_tourn_admin_person_feds_sync') }}">Sync eAYSO Information</a></li>
    <li><a href="#">Import AYSO Information</a></li>
{% endif %}
  </ul>
</div>

</div>  <!--end div.container-->

{% include '@CeradTournAdmin/Admin/AdminShowHelp.html.twig' %}
{% endblock %} {# end content block #}
