{% extends '@CeradTourn/layout.html.twig' %}

{% block content %}
<table class="account-person-list" border="0" cellpadding="15">
    <!--<tr><th colspan="4">People Associated With This Account</th></tr>-->
    <tr id=table-header>
        <th>Account Information</th>
        <th>AYSO Information</th>
        <th>Tournament Plans</th>
   </tr>
   {% for personPerson in account.person.persons %}
   {% set person    = personPerson.slave         %}
   {% set fed       = person.fedAYSOV            %}
   {% set referee   = fed.certReferee            %}
   {% set safeHaven = fed.certSafeHaven          %}
   {% set org       = fed.orgRegion              %}
   {% set plan      = person.plan(project)       %}
   <tr>
        <td><table>
            <tr>
                <td>Person:</td>
                <td>
                    <a href="{{ path('cerad_tourn_person_person_edit', { 'id': personPerson.id }) }}">{{ person.name }}</a>
                </td>
            </tr>
            <tr><td>Relation:</td><td>{{ personPerson.role }}</td></tr>
            {% if personPerson.isRolePrimary %}
            <tr><td>Account:</td><td>
<!--Should this be conditional on role?-->                    
<!--                <a href="{{ path('cerad_account_profile_edit', { 'id': account.id }) }}">
                    {{ account.username }}
                </a>
-->
                {{ account.username }}</td>
            </tr>
            {% for identifier in account.identifiers %}
                <tr><td>Social:</td><td>{{ identifier.source }}</td></tr>
            {% endfor %}
            {% endif %}
        </table></td>
        <td><table>
            <tr><td>AYSO ID:   </td><td>{{ fed.id | slice(5)    }}</td></tr>
            <tr><td>Vol Year:  </td><td>{{ org.memYear          }}</td></tr>
            <tr><td>Safe Haven:</td><td>{{ safeHaven.badge      }}</td></tr>
            <tr><td>Ref Badge: </td><td>{{ referee.badge        }}</td></tr>
            <tr><td>Region:    </td><td>{{ org.orgid | slice(4) }}</td></tr>
        </table></td>
        <td><table>
        {% if plan %}
           <tr><td colspan="2">{{ plan.projectId }}</td></tr>
           <tr><td>Will Attend: </td><td>{{ plan.attending   }}</td></tr>
           <tr><td>Will Referee:</td><td>{{ plan.refereeing  }}</td></tr>             
        {% else %}
           <tr><td colspan="2">Please set your plans.</td></tr>
        {% endif %}
           <tr><td colspan="2"><a href="{{ path('cerad_tourn_person_plan_edit',{ id: plan.id }) }}">Update your plans.</td></tr>
        </table></td>
    </tr>
   {% endfor %}
</table>
{% endblock %}
