{% extends '@CeradGame/Layout.html.twig' %}

{% block content %}
{{ form_start(form) }}
<table>
    <tr>
        <td>{{ form_widget(form.gameOfficial.role)           }}</td>
        <td>{{ form_widget(form.gameOfficial.personNameFull) }}</td>
        <td>{{ form_widget(form.gameOfficial.assignState)    }}</td>
    </tr><tr>
        <td>&nbsp;</td>
        <td colspan="2">
          <a href="{{ back }}{{ game.num }}">Back to Schedule</a>
          {{ form_widget(form.reset)  }}
          {{ form_widget(form.assign) }}
        </td>
    </tr>
</table>
{{ form_rest (form) }}
{{ form_end  (form) }}
<br />
<h2>Add help here.</h2>
<strong>They need to know that you have to pull down and select "Request Assignment"</strong>
<p>I might change that behavoiur later but that's the way it is for now.</p>
{% endblock %}