<table>
{% for official in game.officials %}

{% set stateClass = 'text-left game-official-state-' ~ official.assignState %}

{% set officialRole  = official.role           | slice(0,3) %}
{% set officialName  = official.personNameFull | slice(0,20) %}        
{% set officialClass = 'text-left' %}

{% set officialSAR      = cerad_game__game_official__sar      (official) %}
{% set officialSARClass = cerad_game__game_official__sar_class(official) %}
        
{% set assignable = true %}
{% if is_granted('AssignableByAssignor',{ 'official' : official}) %}
  {% set assignable = true %}
{% endif %}
        
<tr>
  <td class="{{ stateClass }}"   >{{ cerad_game__assign_state_abbr(official.assignState) }}</td>
  
  <td class="text-left">
    {% if not assignable %}{{ officialRole }}{% else %}
      <a href="{{ path('cerad_game__project__game_officials__assign_by_assignor', { 
             '_project' : _project, 
                '_game' : game.num, 
        '_gameOfficial' : official.slot,
                 'back' : app.request.requestUri ~ '#' ~ gameIdPrefix
      }) }}">{{ officialRole }}</a>
    {% endif %}
  </td>
  
  <td class="{{ officialClass    }}">{{ officialName   }}</td>
  <td class="{{ officialClass    }}">{{ official.personBadge }}</td>
  <td class="{{ officialSARClass }}">{{ cerad_official_SAR(officialSAR) }}</td>
</tr>

{% endfor %}{# official #}
</table>