<table>
{% for official in game.officials %}
        
{% set officialClass = 'text-left' %}

{% if personKeys[official.personGuid] is defined %}
  {% set officialClass = 'text-left my-slot' %}
{% endif %}

{% set stateClass = 'text-left game-official-state-' ~ official.assignState %}

{% set officialRole = official.role           | slice(0,3) %}
{% set officialName = official.personNameFull | slice(0,20) %}

{% set userSignup = false %}
{% if is_granted('UserSignup',{ 'official' : official, 'personKeys' : personKeys }) %}
  {% set userSignup = true %}
{% endif %}
        
<tr>
  <td class="{{ stateClass }}"   >{{ cerad_game__assign_state_abbr(official.assignState) }}</td>
  
  <td class="text-left"          >{{ officialRole }}</td>
  
  <td class="{{ officialClass }}">{{ officialName }}</td>
</tr>

{% endfor %}{# official #}
</table>