<table>
{% for programName, programRoutes in routes %}
  <tr><td class="row-hdr" style="border: 1px solid black;">{{ programName }}</td>
  {% for gender, genderUrls in programRoutes %}
    <td style="border: 1px solid black;">
    {% for age, url in genderUrls %}
      {% if age != "U10" %}
        {% if programName == 'Extra' %}
          {% set age = age ~ cerad_cap_gender(gender) %}
          {% if age == 'U16B' %}
            <a href="http://2014nationalgames.org/medal-round-u16b/">U16B</a>
          {% elseif age == 'U16G' %}
            <a href="http://2014nationalgames.org/medal-round-u16g/">U16G</a>
          {% else %}
            <a href="{{ url }}">{{ age }}</a>
          {% endif %}
        {% else %}
          <a href="{{ url }}">{{ age ~ cerad_cap_gender(gender) }}</a>
        {% endif %}
      {% endif %}
    {% endfor %} {# ages #}
   </td>
  {% endfor %} {# genders #}
  </tr>
{% endfor %}{# programs #}
</table>
